body{  display: grid;
    grid-template-columns: 1fr, 1fr;
    background-color: #aaf3f3;

}
tr{
    /* display: grid;
    grid-template-columns: 2, 1fr; */
}

table{
    display: grid;
    grid-template-columns: 2, 1fr;
    width: 88%;
    margin: 4px auto;
    background-color: rgb(124, 154, 168);
}
.tb{
    display: grid;
    grid-template-columns: 2, 1fr;
}

table.list{
    
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),table.list thread> tr{
    background-color: rgb(204, 200, 200);
    
}

input[type="text"], input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}
    
 input[type="submit"]{
    background: #eeee;
    
    padding: 6px 12 px;
    margin: 15px 0 10px ;
    display: inline-block;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 30px;

} 
 input[type="reset"]{
    background: #eeee;
    
    padding: 6px 12 px;
    margin: 15px 0 10px ;
    display: inline-block;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 30px;

}
input[type="submit"]:hover{
    background-color: #4b99d8;
}
input[type="reset"]:hover{
    background-color: #4b99d8;
}
button{
    background: #eeee;
    padding: 6px 12 px;
    margin: 15px 0 10px ;
    display: inline-block;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
}

button:hover{
    background: #4b99d8;
}